@model MedicationRecords.Models.MedicationModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<hr />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmMedicationForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form row">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col col-sm-4 col-md-4 col-lg-4"></div>
        <div class="col col-sm-4 col-md-4 col-lg-4">
            <div class="col-md-12" id="errorMessage"></div>
            <div class="form-group row">
                <label class="control-label col-md-3" for="txtDosage"><strong>Dosage</strong><span class="text-danger">* </span></label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.txtDosage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.txtDosage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-3" for="txtDrug"><strong>Drug</strong><span class="text-danger">* </span></label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.txtDrug, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.txtDrug, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <label class="control-label col-md-3" for="txtPatients"><strong>Patient</strong><span class="text-danger">* </span></label>
                <div class="col-md-9">
                    @Html.EditorFor(model => model.txtPatients, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.txtPatients, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-12 text-right">
                    <a href='#' class="btn btn-light" id="btnSubmit" type="button" data-toggle="modal" data-target="#confirmationModal">Submit</a>
                    <a href='#' class="btn btn-light" id="btnClear" type="button">Clear All</a>
                    <a href='/' class="btn btn-light" id="btnCancel" type="button">Cancel</a>
                </div>
            </div>
        </div>

    </div>
}

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    <script type="text/javascript">
        var patientId = "@Html.DisplayFor(model => model.Id)";
        var pageName = 'Edit';
        var submitFormURL = "@Url.Content("~/Medication/JsonEdit")";
    </script>
    <script src="~/Scripts/Page/Medication.js"></script>
}
