@model IEnumerable<Medication_Entity.MedicationEntity>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Records", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patients)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patients)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                <a href='#' id="btnSubmit" type="button" data-toggle="modal" data-target="#confirmationModal" value="@Html.DisplayFor(modelItem => item.Id)">Delete</a>
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var pageName = 'Index';
        var submitFormURL = "@Url.Content("~/Medication/JsonDelete")";
    </script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/Page/Medication.js"></script>
}