@model IEnumerable<MedicationRecords.Models.MedicationModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.txtPatients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtDrug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.txtDosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtpDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.txtPatients)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtDrug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.txtDosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtpDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
